<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= search ? search.toUpperCase() : filter ? filter.toUpperCase() : 'All Items' %>
        </title>
        <link href="/global.css" rel="stylesheet">
        <%- include('../partials/meta') %>
    </head>
    <body class="w-full h-auto flex bg-zinc-100">
        <%- include('../partials/menubar') %>
        <div class="w-full">
            <%- include('../partials/navbar') %>
            <div class="flex flex-col space-y-4 items-center bg-white rounded p-4 m-4">
                <div class="flex flex-row w-full justify-between items-center space-x-20">
                    <div>
                        <h1 class="font-bold text-xl text-teal-600 uppercase">Items (<%= totalItems %>)</h1>
                    </div>
                    <div class="flex space-x-4">
                        <!-- search-->
                        <form class="flex space-x-1 rounded border-2" action="/items" >
                            <input name="search" placeholder="Search..." class="px-2 py-1 outline-none" value="<%= search %>" required/>
                            <button
                                type="submit"
                                class="bg-zinc-200 hover:bg-zinc-300 w-full h-full p-1 transition-colors duration-200 ease-in-out"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="11" cy="11" r="8"/><path d="m21 21l-4.3-4.3"/></g></svg>
                            </button>
                        </form>
                        <!-- filter category -->
                        <form action="/items">
                            <select name="filter" class="px-4 py-2 rounded" onchange="form.submit()">
                                <option value="">Select Filter...</option>
                                <hr/>
                                <optgroup label="Category">
                                    <% for (const category of categories) { %>
                                        <option
                                            value="<%= category.toLowerCase() %>"
                                            <%= filter === category ? 'selected': '' %>
                                            >
                                            <%= category.charAt(0).toUpperCase() + category.slice(1) %>
                                        </option>
                                    <% } %>
                                </optgroup>
                                <optgroup label="Status">
                                    <option value="all-items" <%= filter === 'all-items' ? 'selected' : '' %>>All Items</option>
                                    <option value="in-stock" <%= filter === 'in-stock' ? 'selected' : '' %>>In Stock</option>
                                    <option value="out-of-stock" <%= filter === 'out-of-stock' ? 'selected' : '' %>>Out of Stock</option>
                                </optgroup>
                            </select>
                        </form>
                        <button class="ml-2 px-2 py-1 text-xs font-bold uppercase bg-green-500 rounded text-white" onclick="addNewItem()">
                            Add New Item
                        </button>
                        <!-- reset filter -->
                        <button type="reset" class="ml-2 px-2 py-1 text-xs font-bold uppercase bg-orange-500 rounded text-white" onclick="resetFilter()">
                            Reset
                        </button>
                    </div>
                </div>
                <!-- table -->
                <div class="w-full flex flex-col space-y-4">
                    <table id="ims_table" class="w-full rounded-t shadow-sm">
                        <thead class="uppercase text-sm bg-zinc-200" >
                            <tr class="text-left">
                                <th class="px-6 py-3 whitespace-nowrap">Name</th>
                                <th class="px-6 py-3 whitespace-nowrap">Category</th>
                                <th class="px-6 py-3 whitespace-nowrap">Quantity</th>
                                <th class="px-6 py-3 whitespace-nowrap">Price</th>
                                <th class="px-6 py-3 whitespace-nowrap">Description</th>
                                <th class="px-6 py-3 whitespace-nowrap">Created Date</th>
                                <th class="px-6 py-3 whitespace-nowrap">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm">
                            <% if (data.length !== 0) { %>
                                <% for (const item of data) { %>
                                    <tr id="tbody-row" class="text-left border-b hover:bg-zinc-100 cursor-pointer" >
                                        <td class="px-6 py-3 whitespace-nowrap capitalize" onClick="viewDetails()"><%= item.name %></td>
                                        <td class="px-6 py-3 whitespace-nowrap capitalize" onClick="viewDetails()"><%= item.category %></td>
                                        <td class="px-6 py-3 whitespace-nowrap <%= item.quantity === 0 ? 'text-red-600' : '' %>" onClick="viewDetails()"><%= item.quantity %></td>
                                        <td class="px-6 py-3 whitespace-nowrap" onClick="viewDetails()">₱ <%= item.price %></td>
                                        <td class="px-6 py-3 whitespace-nowrap" onClick="viewDetails()">
                                            <%= item.description.length > 14 ? item.description.substring(0, 14) + '...' : item.description %>
                                        </td>
                                        <td class="px-6 py-3 whitespace-nowrap" onClick="viewDetails()"><%= item.createdAt %></td>
                                        <td class="px-6 py-3 flex space-x-4">
                                            <button
                                                type="button"
                                                class="px-2 py-1 text-xs font-bold uppercase bg-blue-500 rounded text-white"
                                                onclick="editItem()"
                                            >
                                                Edit
                                            </button>
                                            <form id="delete-form-<%= item._id %>" action="/items/<%= item._id %>?_method=DELETE" method="POST" onsubmit="confirmDelete('delete-form-<%= item._id %>')">
                                                <button type="submit" class="px-2 py-1 text-xs font-bold uppercase bg-red-500 rounded text-white">
                                                    Delete
                                                </button>
                                            </form>
                                            <!-- confirmation modal -->
                                            <div id="confirmation-modal" class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white border border-zinc-300 rounded shadow-lg">
                                                <div class="text-lg font-semibold text-center text-red-600 capitalize pt-4 px-4">Are you sure you want to delete this item?</div>
                                                <div class="flex items-center p-2">
                                                    <button id="confirm-btn" class="w-full hover:bg-green-400 p-4 rounded">Yes</button>
                                                    <button id="cancel-btn" class="w-full  hover:bg-zinc-200 p-4 rounded">No</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- actions script -->
                                    <script>
                                        function editItem() {
                                          window.location.href = '/items/<%= item._id %>/edit'
                                        }

                                        function viewDetails() {
                                          window.location.href = '/items/<%= item._id %>';
                                        }
                                    </script>
                                <% } %>
                            <% } else { %>
                                <tr>
                                    <td class="text-center p-20 uppercase font-bold" colspan="10">No Result</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <!-- pagination -->
                    <div class="flex justify-between items-center">
                        <div class="text-sm">
                            Results: <%= startIndex %> - <%= endIndex %> of <%= totalItems %> Items
                        </div>
                        <div class="flex space-x-2">
                            <button
                                onclick="previousPage()"
                                class="uppercase text-sm font-semibold px-2 py-1 bg-zinc-300 rounded <%= currentPage === 1 ? 'opacity-50 cursor-not-allowed' : 'hover:bg-zinc-400' %>"
                                <%= currentPage === 1 ? 'disabled' : '' %>
                            >
                                Previous
                            </button>
                            <button
                                onclick="nextPage()"
                                class="uppercase text-sm font-semibold px-2 py-1 bg-zinc-300 rounded <%= currentPage === totalPages ? 'opacity-50 cursor-not-allowed' : 'hover:bg-zinc-400' %>"
                                <%= currentPage === totalPages ? 'disabled' : '' %>
                            >
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete and conformation script -->
        <script>
          function confirmDelete(formId) {
              event.preventDefault();

              const modal = document.getElementById('confirmation-modal');
              modal.style.display = 'block';

              document.getElementById('confirm-btn').onclick = function() {
                  modal.style.display = 'none';
                  document.getElementById(formId).submit();
              };

              document.getElementById('cancel-btn').onclick = function() {
                  modal.style.display = 'none';
              };
          }
        </script>
        <!--add new item and reset filter script -->
        <script>
            function addNewItem() {
              window.location.href = '/items/new'
            }

            function resetFilter() {
              window.location.href = '/items'
            }
        </script>
        <script>
            function previousPage() {
              window.location.href='?page=<%= currentPage - 1 %>'
            }

            function nextPage() {
              window.location.href='?page=<%= currentPage + 1 %>'
            }
        </script>
    </body>
</html>
